#container{
    background-color: rgb(221, 127, 91);
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#content{
    background-color: white;
    width: 500px;
    height: 300px;
}

#logomarca{
    padding: 5px;
    height: 60px;
    width: 350px;
}

#btn_login{
    width: 300px;
}

#input_login{
    width: 300px;
}

.btn-form{
    background-color: rgb(206, 132, 21);
    width: 290px;
    text-align: center;
    color: white;
  }
  


