<div id="container-usuario">
    <div id="content">
        <table class="table-form">
            <tr>
                <td>
                    <div class="title-form">
                            Novo Usuário
                    </div>
                    <div>
                        <mat-form-field class="example-full-width input-form input-color">
                            <input matInput placeholder="Nome Completo"  [(ngModel)]="usuario.nome_usuario" value="">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width input-form ">
                            <input matInput placeholder="CPF" [(ngModel)]="usuario.cpf" value="">
                        </mat-form-field>
                    </div>


                    <div>
                        <mat-form-field class="example-full-width input-form">
                            <input matInput placeholder="E-mail" [(ngModel)]="usuario.email" value="">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width input-form">
                            <input matInput placeholder="Usuário" [(ngModel)]="usuario.usuario" value="">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width input-form">
                            <input matInput placeholder="Senha" type="password" [(ngModel)]="usuario.senha" value="">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width input-form">
                            <input matInput placeholder="Confirmar Senha" type="password" [(ngModel)]="usuario.cf_senha" value="">
                        </mat-form-field>
                    </div>          
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div>
                        <button mat-button class="btn-form">Salvar</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>